
    .textZonePortfolio{
        position: relative;
        top: 50px;
        left: 0px;
        /* margin-top: 1%; */
        text-align:left;
        margin-left: 150px;
        width: 60px;
        height: 0px;
    }
    
    .text-zone2{
      text-align:left;
      margin-left: 0px;
      width: 680px;
      left: 0px;
    
    }

    .imagezonePortfolio{
      position: absolute;
      top: 140px;
      margin-left: 150px;
      border-radius: 8px;
      padding: 16px;
      text-align: center;
      box-shadow: 4px 4px 4px 4px #f5b609;
  
    }

    .imagezonePortfolio2{
      position: absolute;
      top: 140px;
      margin-left: 850px;
      border-radius: 8px;
      padding: 16px;
      text-align: center;
      box-shadow: 4px 4px 4px 4px #f5b609;
  
    }

    a{
      color: #f5b609;
      font-size: large;    
    }
    